<div class="page-header">
  <%= link_to new_volunteer_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Volunteer
  <% end %>
  <h1>Listing volunteers</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Date</th>
            <th>Email</th>
            <th>Expertise</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @volunteers) do |volunteer| %>
            <td><%= volunteer.name %></td>
            <td><%= volunteer.phone %></td>
            <td><%= volunteer.address %></td>
            <td><%= volunteer.date.strftime('%B %d') %></td>
            <td><%= volunteer.email %></td>
            <td><%= volunteer.department %></td>
            <td><%= link_to 'Show', volunteer %></td>
        <td><%= link_to 'Edit', edit_volunteer_path(volunteer) %></td>
        <td><%= link_to 'Destroy', volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
