<div class="page-header">
  <%= link_to volunteers_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_volunteer_path(@volunteer), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show volunteer</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @volunteer.name %></dd>

  <dt>Phone:</dt>
  <dd><%= @volunteer.phone %></dd>

  <dt>Address:</dt>
  <dd><%= @volunteer.address %></dd>

  <dt>Date:</dt>
  <dd><%= @volunteer.date.strftime('%B %d') %></dd>

  <dt>Email:</dt>
  <dd><%= @volunteer.email %></dd>

  <dt>Expertise:</dt>
  <dd><%= @volunteer.department %></dd>

</dl>
