
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @inventories) do |inventory| %>
            <td><%= inventory.name.humanize %></td>
            <td><%= inventory.inventory_type.humanize %></td>
            <td><%= inventory.amount %> <%= inventory.unit %></td>
            <!-- <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <% end %>
    </tbody>
  </table>
</div>
