<div class="page-header">
  = link_to new_inventory_path, :class => 'btn btn-primary' do
    <span class="glyphicon glyphicon-plus"></span>
    New Inventory
  end
  <h1>Listing inventories</h1>
</div>
= render 'inventory_list'
