<div class="page-header">
  <%= link_to inventories_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_inventory_path(@inventory), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show inventory</h1>
</div>

<dl class="dl-horizontal">
  <dt>Inventory type:</dt>
  <dd><%= @inventory.inventory_type %></dd>

  <dt>Name:</dt>
  <dd><%= @inventory.name %></dd>

  <dt>Amount:</dt>
  <dd><%= @inventory.amount %></dd>

  <dt>Unit:</dt>
  <dd><%= @inventory.unit %></dd>

</dl>
