<div class="page-header">
  <%= link_to new_donor_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Donor
  <% end %>
  <h1>Listing donors</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Contribution</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @donors) do |donor| %>
            <td><%= donor.name %></td>
            <td>
              <% donor.items.each do |c| %>
                <span> <%= c.amount %> <%= c.inventory.unit %> of <%= c.inventory.name %>  on <%= c.submit_date.strftime('%B %d') %>  </span>
                <br/>
              <% end %>
            </td>
            <td><%= donor.address %></td>
            <td><%= donor.phone_number %></td>
            <td><%= donor.email %></td>
        <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
        <td><%= link_to 'Destroy', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
