<div class="page-header">
  <%= link_to donors_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_donor_path(@donor), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show donor</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @donor.name %></dd>

  <dt>Address:</dt>
  <dd><%= @donor.address %></dd>

  <dt>Phone number:</dt>
  <dd><%= @donor.phone_number %></dd>

  <dt>Email:</dt>
  <dd><%= @donor.email %></dd>

</dl>
