<div class="page-header">
  <%= link_to new_procurement_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Procurement
  <% end %>
  <h1>Listing procurements</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Date</th>
            <th>Inventory</th>
            <th>Amount</th>
            <th>Units</th>
            <th>Funds used</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @procurements) do |procurement| %>
            <td><%= procurement.date.strftime('%B %d') %></td>
            <td><%= procurement.inventory.name %></td>
            <td><%= procurement.amount %></td>
            <td><%= procurement.inventory.unit %></td>
            <td>Rs <%= procurement.funds_used %></td>
            <td><%= link_to 'Show', procurement %></td>
        <td><%= link_to 'Edit', edit_procurement_path(procurement) %></td>
        <td><%= link_to 'Destroy', procurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
