<div class="page-header">
  <%= link_to procurements_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_procurement_path(@procurement), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show procurement</h1>
</div>

<dl class="dl-horizontal">
  <dt>Amount:</dt>
  <dd><%= @procurement.amount %></dd>

  <dt>Units:</dt>
  <dd><%= @procurement.units %></dd>

  <dt>Date:</dt>
  <dd><%= @procurement.date.strftime('%B %d') %></dd>

  <dt>Inventory:</dt>
  <dd><%= @procurement.inventory %></dd>

  <dt>Funds used:</dt>
  <dd><%= @procurement.funds_used %></dd>

</dl>
