<%= form_for(@dispatch, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @dispatch.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@dispatch.errors.count, "error") %> prohibited this dispatch from being saved:</h4>

      <ul>
      <% @dispatch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :description, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :site, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :site_id, Site.all.collect { |s| [s.name, s.id] }, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dispatch_date, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :dispatch_date, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :status, dispatch_status, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :feedback, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :feedback, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
