<div class="page-header">
  <%= link_to new_dispatch_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Dispatch
  <% end %>
  <h1>Listing dispatches</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Site</th>
            <th>Dispatch date</th>
            <th>Status</th>
            <th>Feedback</th>
            <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @dispatches) do |dispatch| %>
            <td><%= dispatch.name %></td>
            <td><%= dispatch.description %></td>
            <td><%= dispatch.site.try(:name) %></td>
            <td><%= dispatch.dispatch_date.strftime('%B %d') %></td>
            <td><%= dispatch.status %></td>
            <td><%= dispatch.feedback %></td>
            <td><%= link_to 'Show', dispatch %></td>
        <td><%= link_to 'Edit', edit_dispatch_path(dispatch) %></td>
        <td><%= link_to 'Destroy', dispatch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Items', dispatch_dispatched_items_path(dispatch)%></td>
      <% end %>
    </tbody>
  </table>
</div>
