<div class="page-header">
  <%= link_to dispatches_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_dispatch_path(@dispatch), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show dispatch</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @dispatch.name %></dd>

  <dt>Description:</dt>
  <dd><%= @dispatch.description %></dd>

  <dt>Site:</dt>
  <dd><%= @dispatch.site.try(:name) %></dd>

  <dt>Dispatch date:</dt>
  <dd><%= @dispatch.dispatch_date.strftime('%B %d') %></dd>

  <dt>Status:</dt>
  <dd><%= @dispatch.status %></dd>

  <dt>Feedback:</dt>
  <dd><%= @dispatch.feedback %></dd>

</dl>

<h3>Dispatched Items
<%= link_to new_dispatch_dispatched_item_path(@dispatch), :class => 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  New Dispatch Item
<% end %>
</h3>

<%= render :partial => "dispatched_items/dispatched_items", :locals => {:dispatch => @dispatch} %>

