<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Dispatch</th>
            <th>Inventory</th>
            <th>Amount</th>
            <th>Unit</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @dispatch.dispatched_items) do |dispatched_item| %>
            <td><%= dispatched_item.dispatch.name %></td>
            <td><%= dispatched_item.inventory.name %></td>
            <td><%= dispatched_item.amount %></td>
            <td><%= dispatched_item.inventory.unit %></td>
            <td><%= link_to 'Show', dispatch_dispatched_item_path(@dispatch, dispatched_item) %></td>
        <td><%= link_to 'Edit', edit_dispatch_dispatched_item_path(@dispatch, dispatched_item) %></td>
        <td><%= link_to 'Destroy', dispatch_dispatched_item_path(@dispatch, dispatched_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>