<%= form_for([@dispatch, @dispatched_item], :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @dispatched_item.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@dispatched_item.errors.count, "error") %> prohibited this dispatched_item from being saved:</h4>

      <ul>
      <% @dispatched_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= label_tag 'inventory_type', 'Inventory Type', :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= select_tag :inventory_parent_type, options_for_select(Inventory.all.pluck(:inventory_type).uniq), :class => "form-control" %>
      </div>
  </div>
  <div class="form-group">
    <%= select_tag :all_inventory_types, options_for_select(Inventory.all.map{ |i| [i.name.humanize, i.id, { 'data-unit' => i.unit, 'data-type' => i.inventory_type }] }), :class => "form-control hidden" %>

    <%= f.label :inventory, 'Inventory Item', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10 inventory-type-select">
      <%= f.select :inventory_id, options_for_select(Inventory.all.map{ |i| [i.name.humanize, i.id, { 'data-unit' => i.unit, 'data-type' => i.inventory_type }] }), {}, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :amount, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :amount, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :unit, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :unit, :class => "form-control unit-input", :disabled => true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
