<div class="page-header">
  <%= link_to dispatch_dispatched_items_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to [@dispatch, @dispatched_item], :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing dispatched_item</h1>
</div>

<%= render 'form' %>
