<div class="page-header">
  <%= link_to new_dispatch_dispatched_item_path(@dispatch), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Dispatched item
  <% end %>
  <h1>Listing dispatched_items for <%= @dispatch.site.try(:name) %></h1>
</div>

<%= render :partial => "dispatched_items", :locals => {:dispatch => @dispatch, :dispatched_items=>@dispatched_items} %>