<div class="page-header">
  <%= link_to dispatch_dispatched_items_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_dispatch_dispatched_item_path(@dispatch, @dispatched_item), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show dispatched_item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Dispatch:</dt>
  <dd><%= @dispatched_item.dispatch.name %></dd>

  <dt>Inventory:</dt>
  <dd><%= @dispatched_item.inventory.try(:name) %></dd>

  <dt>Amount:</dt>
  <dd><%= @dispatched_item.amount %></dd>

  <dt>Unit:</dt>
  <dd><%= @dispatched_item.unit %></dd>

</dl>
