<div class="page-header">
  <%= link_to new_item_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Item
  <% end %>
  <h1>Listing items</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Inventory</th>
            <th>Amount</th>
            <th>Units</th>
            <th>Submit date</th>
            <th>Donor</th>

            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @items) do |item| %>
            <td><%= item.name %></td>
            <td><%= item.inventory.name.humanize %></td>
            <td><%= item.amount %></td>
            <td><%= item.inventory.unit %></td>
            <td><%= item.submit_date.strftime('%B %d') %></td>
            <td><%= item.donor.name %></td>

            <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
