<div class="page-header">
  <%= link_to items_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_item_path(@item), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show item</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @item.name %></dd>

  <dt>Amount:</dt>
  <dd><%= @item.amount %></dd>

  <!-- <dt>Units:</dt>
  <dd><%= @item.units %></dd> -->

  <dt>Submit date:</dt>
  <dd><%= @item.submit_date.strftime('%B %d') %></dd>

  <dt>Donor:</dt>
  <dd><%= @item.donor.name %></dd>

  <dt>Inventory:</dt>
  <dd><%= @item.inventory.name %></dd>

</dl>
