<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#dispatch_today" aria-controls="dispatch_today" role="tab" data-toggle="tab">Today</a></li>
    <li role="presentation"><a href="#dispatch_alltime" aria-controls="dispatch_alltime" role="tab" data-toggle="tab">All-Time</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="dispatch_today">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        - @dispatches_today.each do |dispatch|
          <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                = dispatch.site.name
                = dispatch.site.vdc
                span.right = dispatch.dispatched_at
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              = dispatch.description
            </div>
          </div>
        </div>
      </div>

    </div>
    <div role="tabpanel" class="tab-pane" id="dispatch_alltime">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        - @dispatches_alltime.each do |dispatch|
          <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                = dispatch.site.name
                = dispatch.site.vdc
                span.right = dispatch.dispatched_at
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              = dispatch.description
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
