<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <div class="funds-raised-text">Funds Raised</div>
      <div class="progress">
        <div class="progress-bar progress-bar-success text" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          span.text = @income
        </div>
      </div>
    </h3>
    <h3 class="panel-title">
      <div class="funds-raised-text">Funds Mobilized</div>
      <div class="progress">
        <div class="progress-bar progress-bar-failure text" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          span.text = @expenses
        </div>
      </div>
    </h3>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="height: 24px;">
      <span>Inventory</span>
      - if user_signed_in?
        = link_to new_item_path, :class => 'btn btn-primary pull-right', style: "margin-top: -4px;" do
          <span class="glyphicon glyphicon-plus"></span>
          <span> New item </span>
        end
    </h3>
  </div>
  <div class="panel-body">
    = render 'inventories/inventory_list'
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Dispatches</h3>
  </div>
  <div class="panel-body">
    = render 'dispatch_details'
  </div>
</div>
