<div class="page-header">
  <%= link_to new_expenditure_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Expenditure
  <% end %>
  <h1>Listing expenditures</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Units</th>
            <th>Amount</th>
            <th>Date</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @expenditures) do |expenditure| %>
            <td><%= expenditure.name.humanize %></td>
            <td><%= expenditure.units %></td>
            <td><%= expenditure.amount %></td>
            <td><%= expenditure.date %></td>
            <td><%= link_to 'Show', expenditure %></td>
        <td><%= link_to 'Edit', edit_expenditure_path(expenditure) %></td>
        <td><%= link_to 'Destroy', expenditure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
