<div class="page-header">
  <%= link_to expenditures_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_expenditure_path(@expenditure), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show expenditure</h1>
</div>

<dl class="dl-horizontal">
  <dt>Amount:</dt>
  <dd><%= @expenditure.amount %></dd>

  <dt>Units:</dt>
  <dd><%= @expenditure.units %></dd>

  <dt>Name:</dt>
  <dd><%= @expenditure.name %></dd>

  <dt>Date:</dt>
  <dd><%= @expenditure.date %></dd>

</dl>
