.right{
  text-align: right;
}
.income-button{
  min-width: 100px;
}
.dash-labels{
}
.funds-raised{
  width: 30%;
  float: left;
}
.progress{
  height: 45px !important;
}
.progress .text{
  font-size: 1.2em;
  padding-top: 1.1%;
  font-family: monospace;
}

.funds-raised-text{
  padding-bottom: 0.5%;
  font-size: 1.1em;
  font-family: -webkit-pictograph;
}

.sub-navbar{
  margin-left: 6% !important;
}