<div class="page-header">
  <%= link_to new_site_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Site
  <% end %>
  <h1>Listing sites</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>District</th>
            <th>Vdc</th>
            <th>Location</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @sites) do |site| %>
            <td><%= site.name %></td>
            <td><%= site.district %></td>
            <td><%= site.vdc %></td>
            <td><%= site.location %></td>
            <td><%= link_to 'Show', site %></td>
        <td><%= link_to 'Edit', edit_site_path(site) %></td>
        <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
