<div class="page-header">
  <%= link_to sites_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_site_path(@site), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show site</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @site.name %></dd>

  <dt>District:</dt>
  <dd><%= @site.district %></dd>

  <dt>Vdc:</dt>
  <dd><%= @site.vdc %></dd>

  <dt>Location:</dt>
  <dd><%= @site.location %></dd>

</dl>
