<li><%= link_to "Donors", donors_path %></li>
<li><%= link_to "Items", items_path %></li>
<li><%= link_to "Procurement", procurements_path %></li>
<li><%= link_to "Expenses", expenditures_path %></li>
<li><%= link_to "Inventory", inventories_path %></li>
<li><%= link_to "Site", sites_path %></li>
<li><%= link_to "Dispatch", dispatches_path %></li>
<li><%= link_to "Volunteers", volunteers_path %></li>
