<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Jai Nepal</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div id="navbar" class="collapse navbar-collapse" style="border-bottom: 1px solid grey;">
        <%= link_to "Jai Nepal ", root_path, :class => "navbar-brand" %>
        <ul class='nav navbar-nav pull-right'>
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contribute</a></li>
          </ul>
          <li><a> | </a></li>
          <% if user_signed_in? %>
            <li> <a><%= current_user.email %>! </a> </li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li> <a>Not signed in! </a> </li>
            <li> <%= link_to 'Login', new_user_session_path %> </li>
          <% end %>
        </ul>
      </div>
      <div id="navbar" class="collapse navbar-collapse sub-navbar">
        <ul class="nav navbar-nav">
          <%= render 'layouts/nav_menu' %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top: 45px;">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", :role => "alert" do %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= msg %>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
